{:paths ["src"]
 :deps
 {com.lambdaisland/launchpad {:mvn/version "0.53.238-alpha"}
  lambdaisland/regal         {:mvn/version "0.1.175"}
  olical/depot               {:mvn/version "2.4.1"}
  rewrite-clj/rewrite-clj    {:mvn/version "1.2.55"}
  com.lambdaisland/config    {:mvn/version "0.15.56"}
  }}
