{:paths ["src"]
 :deps
 {com.lambdaisland/launchpad {:mvn/version "0.14.72-alpha"}
  lambdaisland/regal         {:mvn/version "0.0.143"}
  olical/depot               {:mvn/version "2.3.0"}
  rewrite-clj/rewrite-clj    {:mvn/version "1.1.45"}}}
