{:paths ["src" "resources"]
 :deps
 {com.lambdaisland/launchpad {:mvn/version "0.13.67-alpha"}
  lambdaisland/regal         {:mvn/version "0.0.143"}
  olical/depot               {:mvn/version "2.3.0"}
  rewrite-clj/rewrite-clj    {:mvn/version "1.1.45"}}

 :aliases
 {:build-releases
  {:extra-deps {lambdaisland/janus {:git/url "https://github.com/lambdaisland/janus"
                                    :sha     "5042cce8d45d0173951efb64eb0f109eacd2143b"}}
   :main-opts  ["-m" "lioss.releases"]}

  :cucumber
  {:extra-deps {lambdaisland/kaocha-cucumber {:mvn/version "0.0-53"}}
   :main-opts ["-m" "lioss.cucumber"]}

  :ansi              {:local/root "../ansi"}
  :chui              {:local/root "../chui"}
  :classpath         {:local/root "../classpath"}
  :cljbox2d          {:local/root "../cljbox2d"}
  :clj-diff          {:local/root "../clj-diff"}
  :cljs-i18n         {:local/root "../cljs-i18n"}
  :daedalus          {:local/root "../daedalus"}
  :data-printers     {:local/root "../data-printers"}
  :deep-diff2        {:local/root "../deep-diff2"}
  :deja-fu           {:local/root "../deja-fu"}
  :dom-types         {:local/root "../dom-types"}
  :dotenv            {:local/root "../dotenv"}
  :edn-lines         {:local/root "../edn-lines"}
  :embedkit          {:local/root "../embedkit"}
  :exoscale          {:local/root "../exoscale"}
  :facai             {:local/root "../facai"}
  :faker             {:local/root "../faker"}
  :fetch             {:local/root "../fetch"}
  :funnel            {:local/root "../funnel"}
  :funnel-client     {:local/root "../funnel-client"}
  :garden-watcher    {:local/root "../garden-watcher"}
  :glogi             {:local/root "../glogi"}
  :hiccup            {:local/root "../hiccup"}
  :jbox2d            {:local/root "../jbox2d"}
  :kaocha            {:local/root "../kaocha"}
  :kaocha-boot       {:local/root "../kaocha-boot"}
  :kaocha-cljs       {:local/root "../kaocha-cljs"}
  :kaocha-cljs2      {:local/root "../kaocha-cljs2"}
  :kaocha-cloverage  {:local/root "../kaocha-cloverage"}
  :kaocha-cucumber   {:local/root "../kaocha-cucumber"}
  :kaocha-junit-xml  {:local/root "../kaocha-junit-xml"}
  :kaocha-midje      {:local/root "../kaocha-midje"}
  :launchpad         {:local/root "../launchpad"}
  :move-namespace    {:local/root "../move-namespace"}
  :nrepl-proxy       {:local/root "../nrepl-proxy"}
  :ornament          {:local/root "../ornament"}
  :plenish           {:local/root "../plenish"}
  :puck              {:local/root "../puck"}
  :regal             {:local/root "../regal"}
  :reitit-jaatya     {:local/root "../reitit-jaatya"}
  :shellutils        {:local/root "../shellutils"}
  :specmonstah-malli {:local/root "../specmonstah-malli"}
  :tools.namespace   {:local/root "../tools.namespace"}
  :trikl             {:local/root "../trikl"}
  :uri               {:local/root "../uri"}
  :webbing           {:local/root "../webbing"}
  :webstuff          {:local/root "../webstuff"}
  :witchcraft        {:local/root "../witchcraft"}
  :witchcraft-plugin {:local/root "../witchcraft-plugin"}
  :zipper-viz        {:local/root "../zipper-viz"}}}
